{{#each products}}
 <div class="row">
        {{#each this}}
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{{this.imagePath}}"alt="..." class="img-responsive">
              <div class="caption">
                <h4>{{this.title}}</h4>
                <p class="description">{{this.desc}}</p>
                 <div class="clearfix">
                    <div class="price pull-left">Just ₹{{this.price}} </div>    <br>
                 <a href="#" class="btn btn-success pull-right" role="button">Buy</a>
                
            </div>
             <hr>
            </div>
          </div>
          </div>
        {{/each}}
        
        </div>
        
{{/each}}
